<link rel="stylesheet" type="text/css" href="/css/userprofile.css">

<header class="header">
    <div class="container">
      <div class="profile">
        <div class="profile-image">
          <% if(profileUser.profileimg) { %>
            <img src="data:image/;base64,<%=profileUser.profileimg.toString('base64')%>" alt="/img/default_profile_pic.png">
          <% } else { %>
            <img src="/img/default_profile_pic.png" width="200px" height="200px" alt="Profile Image">
          <% } %>
        </div>
        <div class="profile-user-settings">
                  <h1 class="profile-user-name"><%= profileUser.username %></h1>
                  <div class="profile-edit-btn"><a href="/profile/edit/<%= profileUser.id %>">Edit Profile</a></div>
                  <div class="profile-settings-btn"><i class="fas fa-cog"></i></div>
              </div>
              <div class="profile-stats">
                  <ul>
                      <li><span class="profile-stat-count">164</span> posts</li>
                      <li><span class="profile-stat-count">188</span> followers</li>
                  </ul>
              </div>
              <div class="profile-bio">
                  <p><span class="profile-real-name"><%= profileUser.username %></span> <%= profileUser.about %></p>
              </div>
      </div>
    </div>
</header>