<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://kit.fontawesome.com/8babd87b09.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    
    <%- include('header'); %>

    <%- body %>

    <%- include('footer'); %>

    <%- script %>
    <script>
    "<% if(flash.success && flash.success.length > 0) { %>"
        new Noty({
                theme  : 'relax',
                text: "<%= flash.success %>",
                type : 'success',
                layout : 'topRight',
                timeout : 3000 
            }).show();
    "<% } %>"
    "<% if(flash.error && flash.error.length > 0) { %>"
        new Noty({
                theme  : 'relax',
                text: "<%= flash.error %>",
                type : 'alert',
                layout : 'topRight',
                timeout : 3000 
            }).show();
    "<% } %>"
    "<% if(flash.info && flash.info.length > 0) { %>"
        new Noty({
                theme  : 'relax',
                text: "<%= flash.info %>",
                type : 'error',
                layout : 'topRight',
                timeout : 3000 
            }).show();
    "<% } %>"
    </script>
</body>
</html>